<tr>
  <td>
    <strong>User in:</strong>
    <%= @user_in_out.user_in.strftime("%F at %I:%M%p") %>
  </td>
  &nbsp
  <td>
    <strong>User out:</strong>
    <%= @user_in_out.user_out.strftime("%F at %I:%M%p") %>
  </<td>
  &nbsp
  <td>
    <strong>User:</strong>
    <%= @user_in_out.user.email %>
  </td>
  &nbsp
</tr>

<%= link_to 'Edit', edit_user_in_out_path(@user_in_out) %> |
<%= link_to 'Back', user_in_outs_path %>
